.navigation-bar {
  position: fixed;
  z-index: 2000;
  width: 100%;
  min-height: 70px;
  background-color: #ffffff;
  padding: 0 5px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navigation-bar .switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

.navigation-bar .label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.navigation-bar ul {
  list-style-type: none;
  display: flex;
  margin-top: 3%;
  align-items: center;
}

.navigation-bar a {
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
  font-weight: bolder;
  color: #575757;
  animation: bounce .5s ease linear;
}

.navigation-bar a:hover {
  color: #089ECA;
}

.navigation-bar .footer{
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation-bar h2{
    font-size: large;
  }

  .navigation-bar{
    padding-left: 5px;
    align-items: center;
  }

  .navigation-bar .open,
  .navigation-bar .close {
    z-index: 2100;
    display: block;
  }
  .navigation-bar .close {
    position: absolute;
    z-index: 2100;
    top: 23px;
    right: 25px;
  }
  .navigation-bar .open{
    position: absolute;
    z-index: 2100;
    top: 15px;
    right: 20px;
  }
  .navigation-bar .switcher:checked ~ nav {
    z-index: 2100;
    right: 0;
    opacity: 1;
  }
  .navigation-bar nav {
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0 ;
    transition: all 0.25s;
    opacity: 0;
  }
  .navigation-bar ul {
    flex-direction: column;
    padding-inline-start: 0 !important;
  }
  .navigation-bar ul li {
    transition: background-color .5s linear;
    margin: 5% auto;
    width: 100%;
  }
  .navigation-bar ul a {
    padding: 20px;
    width: 100%;
  }
  .navigation-bar ul li:hover {
    background-color: #089ECA;
    color: #fff;
  }

  .navigation-bar ul li:hover a{
    color: #fff;
  }

  .navigation-bar .footer{
    display: inline;
  }
}
